body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
}

.channel{

    margin-left: 2%;

}
.channel-btn{
    width: 50px;
    height: 50px;
    font-size: 30px;

}
.channel-link{
    font-size: 30px;
    margin-left: 20px;
}
.channel-btn::after{
    content: url("folder.svg");
}
.channels-grid{
    display: flex;
}

.file-btn{
    margin-right: 50px;
}
.file-txt{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-right: 50px;
}

.files-grid{
    max-width: 100%;
}

.files-table tr:nth-child(even) {
    background-color: gray;
}
