body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
}
.zone{
    border-radius: 5px;
    background-color: rgba(207, 207, 207, 0.164);
    margin-right: 2%;
    margin-left: 1%;
}

.channel{

    margin-left: 2%;

}
.channel-btn{
    width: 50px;
    height: 50px;
    font-size: 30px;

}
.channel-link{
    font-size: 30px;
    margin-left: 20px;
    color: black;
}
.channel-btn::after{
    content: url("folder.svg");
}
.channels-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.file-btn{
    margin-right: 50px;
}
.file-txt{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-right: 50px;
}

.files-grid{
    max-width: 100%;
}

.files-table tr:nth-child(even) {
    background-color: rgb(38, 71, 102);
}


.auto-resize-textarea{
    width:100%;
    height: 100%;
    min-width: 100%;
    min-height: 400px;
    overflow-y:scroll;
    white-space: pre-wrap;
}

.navbar{
    margin-bottom: 15px;
    min-height: 30px;
    text-align: center;
}

.anim-bg {
    width: 100%;
    height: 100%;
    background-size: 300% 300%;
    background-image: linear-gradient(
          -45deg, 
          rgb(75, 204, 204) 0%, 
          rgb(178, 108, 243) 25%, 
          rgb(64, 128, 154) 51%, 
          rgb(34, 7, 184) 100%
    );  
    animation: AnimateBG 10s ease infinite;
}

@keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.ad-placeholder{
    width: 160px;
    height: 600px;
    background: blue;
}