<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='drive.css') }}">
    <script src="https://cdn.websitepolicies.io/lib/cookieconsent/cookieconsent.min.js" defer></script><script>window.addEventListener("load",function(){window.wpcc.init({"border":"thin","corners":"small","colors":{"popup":{"background":"#f0edff","text":"#000000","border":"#5e65c2"},"button":{"background":"#5e65c2","text":"#ffffff"}},"content":{"href":"https://diveapp.ga/informations","message":"This website uses cookies to make Google Adsense works.","button":"Cool !"}})});</script>
    <title>Dive/Drive</title>
</head>
<body>
    

    <button onclick="document.location.href='/login'">My servers</button>
    <br>
    <div class="channels-grid">
        {%for channel_name in channels%}
        <div class="channel">
            <a class="channel-btn" href="javascript:window.location.href = window.location.pathname+'/{{channel_name}}?page=1'"></a>
            <br>
            <a class="channel-link" href="javascript:window.location.href = window.location.pathname+'/{{channel_name}}?page=1'">{{channel_name}}</a>
        </div>
        {%endfor%}
    </div>

    <h4>Sorry for the inconvenience, the UI is still under development &lt;3
    <br>
    To follow what feature is being added next, you can check my <a href="https://www.github.com/thaaoblues/Dive">github</a>.
    <br>
    As I'm still in college, updates are not following a schedule.
    </h4>
    
</body>
</html>