<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='drive.css') }}">
    <title>Dive/Drive</title>
</head>
<body class="anim-bg">
    

    <div class="navbar zone">
        <button onclick="document.location.href='/login'">Go back to servers list</button>
    </div>
    
    <div class="channels-grid zone">
            
        {%for channel_name in channels%}
        <div class="channel">
            <a class="channel-btn" href="javascript:window.location.href = window.location.pathname+'/{{channel_name}}?page=1'"></a>
            <br>
            <a class="channel-link" href="javascript:window.location.href = window.location.pathname+'/{{channel_name}}?page=1'">{{channel_name}}</a>
        </div>
        {%endfor%}
    
    </div>
    <h4>Sorry for the inconvenience, the UI is still under development &lt;3
    <br>
    To follow what feature is being added next, you can check my <a href="https://www.github.com/thaaoblues/Dive">github</a>.
    <br>
    As I'm still in college, updates are not following a schedule.
    </h4>

    <script type="text/javascript">
        atOptions = {
            'key' : 'e5d1d86e1d34cd78c9a461f5aa8af03e',
            'format' : 'iframe',
            'height' : 60,
            'width' : 468,
            'params' : {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformat.com/e5d1d86e1d34cd78c9a461f5aa8af03e/invoke.js"></scr' + 'ipt>');
    </script>
    
</body>
</html>