<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='drive.css') }}">
    <script src="{{ url_for('static', filename='files_preview.js') }}"></script>
    <title>Document</title>
</head>
<body>

    <div class="files-grid">

        <table class="files-table">
            
            <tbody>
                <tr>
                    <th>Icon</th>
                    <th>File name</th>
                </tr>
                {%for media in medias%}
                    <tr>
                        <td><img class="file-btn" width="50" height="50" src="{{ url_for('static', filename='file-earmark.svg') }}" onclick="window.location.href='{{media['media_url']}}'" a></td>
                        <td><a class="file-txt" href="{{media['media_url']}}">{{media["file_name"]}}</a></td>
                    </tr>
                {%endfor%}
            </tbody>

        </table>

    </div>

    <iframe class="iframe-preview" hidden></iframe>
    

</body>
</html>