<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='drive.css') }}">
    <script src="{{ url_for('static', filename='drive.js') }}"></script>
    <title>Dive/Edit file</title>
</head>
<body>
    <button onclick="send_file_update()">Save file</button>
    <input id="file_name" name="file_name" hidden value="{{file['file_name']}}">
    
    <textarea id="file_content" class="auto-resize-textarea"></textarea>



    <script>


        send_event("/api/request_file_content",{"file_url":"{{file['file_url']}}","server_id":"{{file['server_id']}}"},
            function (e){
                console.log(this.responseText);
                data = JSON.parse(this.responseText);
                document.getElementById("file_content").value = data["file_content"].replace("\n","<br>");
            }
        );


        function send_file_update(){
            let file_json = {{file | safe}};
            file_json["new_content"] = document.getElementById("new_content").innerText;
            send_event('/api/update_file_content',file_json,function(e){
                console.log(this.responseText);
                response = JSON.parse(this.responseText);
                alert(response["msg"]);
            });
        }
    </script>
</body>


</html>