<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
    <title>NOT FOUND !</title>
</head>
<body style="text-align: center; background-color: white;">
    <h1>{{error_msg}}</h1>
    <img width="30%" height="40%" onclick="window.history.back();" src="{{url_for('static',filename='not_found.jpg')}}"></img>
    <br>
    <br>
    <button class="btn" onclick="window.history.back();"> Go back :)</button>
    <br>
    <br>
    <a href="https://www.freepik.com/free-vector/business-team-looking-new-people-allegory-searching-ideas-staff-woman-with-magnifier-man-with-spyglass-flat-illustration_16368963.htm#query=not%20found&position=3&from_view=search&track=sph">Image by pch.vector</a> on Freepik
</body>
</html>