<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=*, initial-scale=1.0">
    <title>Informations</title>
</head>
<body>
    <h2>
        Dive is a discord bot that will only catch and store links to media from cloud storage providers (like Discord cdn or Google Drive and many others) that is shared on a discord server.
        <br>
        As so, we are in not responsible in any way of what is shared on any Discord server, and by extension indexed by Dive, that could be problematic.
        <br>
        If anything is breaking a law in your country, we are not responsible.
    </h2>
</body>
</html>