{%extends "structure/base.html"%}


{%block head%}
<title>Dive/Server settings</title>
<link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='drive.css') }}">
<script src="{{url_for('static',filename='drive.js')}}"></script>
{%endblock%}


{%block body%}
<div class="navbar zone">
    <button onclick="document.location.href='/login'">Go back to servers list</button>
</div>

<div class="zone">
    
    <ul>
        <li class="line">
            <h2>Images auto saving :</h2>&nbsp;&nbsp;
            <button onclick="change_img_auto_save_state();" id="img_auto_save_btn">Loading state...</button>
            <p>This setting is for wether you want Dive to save everything, or everything except images.</p>
        </li>
    </ul>
</div>

<script>

    var auto_save_state = false;
    function get_img_auto_save_state(){
        send_event("/api/get_server_infos",{server_id:"{{server['server_id']}}"},function (response){
            console.log(this.responseText);
            response = JSON.parse(this.responseText);
            auto_save_state = response["img_auto_save"];
            //set settings button text
            var btn = document.getElementById("img_auto_save_btn");
            if(auto_save_state){
                btn.innerText = "Desactivate";
            }else{
                btn.innerText = "Activate";
            }
        });
    }

    // call function
    get_img_auto_save_state();
    function change_img_auto_save_state(){
        send_event("/api/set_server_infos",{server_id:"{{server['server_id']}}",img_auto_save:!auto_save_state},function(response){
            response = JSON.parse(this.responseText);
            alert(response["msg"]);
            document.location.reload();
        });
    }
</script>


<script type="text/javascript">
    atOptions = {
        'key' : 'e5d1d86e1d34cd78c9a461f5aa8af03e',
        'format' : 'iframe',
        'height' : 60,
        'width' : 468,
        'params' : {}
    };
    document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformat.com/e5d1d86e1d34cd78c9a461f5aa8af03e/invoke.js"></scr' + 'ipt>');
</script>

{%endblock%}