
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='user_dashboard.css')}}">
    
    <title>Dive</title>
</head>
<body class="anim-bg">

    <h1 class="txt-ctr">Select one of your servers</h1>
    <div>
        <div id="settings_dropdown">
            <img class="settings-icon" id="settings_icon" src="https://icons.getbootstrap.com/assets/icons/sliders.svg"></img>
            <div class="zone" id="settings_dropdown_content" hidden>
                <br>
                <br>
                <button class="settings-btn" onclick="window.location.href='/revoke'">Log me out !</button>        
            </div>
        </div>
    </div>
    <br>


    <div class="zone" id="main_zone">
        {% if user_servers == []%}
        <div style="text-align: center;">
            <h2>It seems that you don't have dive on any of your servers :O</h2>
            <button class="big-btn" onclick="window.location.href='https://discord.com/api/oauth2/authorize?client_id=1045642491585642537&permissions=3072&scope=bot'">Get Dive !</button>
        </div>
        {%endif%}

        {%for s in user_servers%}
            <li onclick="window.location.href='/drive/{{s["id"]}}'" class="img-text server"><img widht="50px" height="50px" onclick="window.location.href='/drive/{{s["id"]}}'" src="{{s['icon_url']}}"></img>&nbsp;&nbsp;{{s["name"]}}</li>
        {%endfor%}

    </div>

    <br>
    <br>
    <br>

</body>

<script src="{{url_for('static',filename='user_dashboard.js')}}"></script>

</html>