


{%extends "structure/base.html"%}

{%block head%}
<link rel="stylesheet" href="{{url_for('static',filename='user_dashboard.css')}}">
<script src="{{url_for('static',filename='user_dashboard.js')}}"></script>
<title>Dive/User Dashboard</title>
{%endblock%}

{%block body%}
<h1 class="txt-ctr">Select one of your servers</h1>
    <div>
        <div id="settings_dropdown">
            <img class="settings-icon" id="settings_icon" src="https://icons.getbootstrap.com/assets/icons/sliders.svg"></img>
            <div class="zone" id="settings_dropdown_content" hidden>
                <br>
                <br>
                <button class="settings-btn" onclick="window.location.href='/revoke'">Log me out !</button>        
            </div>
        </div>
    </div>
    <br>


    <div class="zone" id="main_zone">
        {% if user_servers == []%}
        <div style="text-align: center;">
            <h2>It seems that you don't have dive on any of your servers :O</h2>
            <button class="big-btn" onclick="window.location.href='https://discord.com/api/oauth2/authorize?client_id=1045642491585642537&permissions=117760&scope=bot'">Get Dive !</button>
        </div>
        {%endif%}

        {%for s in user_servers%}
            <li class="img-text server"><img widht="50px" height="50px" onclick="window.location.href='/drive/{{s["id"]}}'" src="{{s['icon_url']}}"></img>
                <a class="drive-link img-text" href="/drive/{{s['id']}}">&nbsp;&nbsp;{{s["name"]}}&nbsp;&nbsp;&nbsp;&nbsp;</a>
                |&nbsp;&nbsp;<a class="drive-link img-text" href="/server_settings/{{s['id']}}">Server settings</a></li>
        {%endfor%}

    </div>

    <br>
    <br>
    <br>

    <script type="text/javascript">
        atOptions = {
            'key' : 'e5d1d86e1d34cd78c9a461f5aa8af03e',
            'format' : 'iframe',
            'height' : 60,
            'width' : 468,
            'params' : {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformat.com/e5d1d86e1d34cd78c9a461f5aa8af03e/invoke.js"></scr' + 'ipt>');
    </script>

{%endblock%}