{%extends "structure/base.html"%}

{%block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='drive.css') }}">
<script src="{{ url_for('static', filename='files_preview.js') }}"></script>
<script src="{{ url_for('static', filename='drive.js') }}"></script>
<title>Dive/Channel content</title>
{%endblock%}

{%block body%}

<div class="navbar zone">
    <button onclick="window.history.back()">Back to files explorer</button>
</div>

<video controls><source src="{{url}}" type="{{content_type}}"></video>
    
</div>
<script type="text/javascript">
    atOptions = {
        'key' : 'e5d1d86e1d34cd78c9a461f5aa8af03e',
        'format' : 'iframe',
        'height' : 60,
        'width' : 468,
        'params' : {}
    };
    document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformat.com/e5d1d86e1d34cd78c9a461f5aa8af03e/invoke.js"></scr' + 'ipt>');
</script>



{%endblock%}